## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
*.snupkg
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

## Visual Studio
.vs/
*.rsuser
*.csproj.user

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
*_TestResult.xml

## NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

## JetBrains
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
